.productsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  gap: 20px;
}
@media (max-width: 1019px) {
  .productsList {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
